<!--pages/user/redbag/center.wxml-->
<wxs module="numberFilter" src="../../../utils/numberFilter.wxs"></wxs>
<wxs module="cartFilter" src="../../../utils/cartFilter.wxs"></wxs>
<view class="page-redbag-center">
  <block wx:if="{{ dataList && dataList.length > 0 }}">
    <view class="redbag-list">
      <view wx:for="{{ dataList }}" wx:key="id">
        <view class='redbag-item'>
          <view class="redbag-item-col0"></view>
          <view class="redbag-item-col1">
            <view class="redbag-item-col1-row1"><text class="yuan">￥</text>{{ item.denomination }}</view>
            <view class="redbag-item-col1-row2">{{ item.useCondition > 0 ? '满' + item.useCondition + '使用' : '无门槛使用' }}
            </view>
          </view>
          <view class="redbag-item-col2">
            <view class="redbag-item-col2-row1">{{ item.names }}</view>
            <view wx:if="{{ item.validDate > 0 }}" class="redbag-item-col2-row2">{{ item.validDate }}天内有效</view>
            <view wx:else class="redbag-item-col2-row2">{{ item.efficientDate }} 至 {{ item.efficientEndDate }}</view>
            <view class="redbag-item-col2-row3" catchtap="showDetail" data-index="{{ index }}">
              <view class="redbag-item-col2-row3-title">
                {{ item.usingRange === 0 ? '全场通用' : item.usingRange === 1 ? '指定类目可用' : item.usingRange === 2 ? '指定商品可用' : item.usingRange === 3 ? '指定店铺可用' : '指定平台可用' }}
              </view>
              <image lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/inlife_icon_redbag_{{ showIndex === index ? 'up' : 'down' }}.png"></image>
            </view>
          </view>
          <view wx:if="{{ !item.isReceive }}" class="btn-receive" catchtap="onBtnReceiveTap" data-item="{{ item }}">领取</view>
          <view wx:else class="btn-received" catchtap="gotoItemList" data-item="{{ item }}">去使用</view>
        </view>
        <view class="redbag-item-detail" hidden="{{ showIndex != index }}">{{ item.typeText }}; {{ item.remarks }}</view>
      </view>
    </view>
  </block>
  <block wx:else>
    <view class="page-redbag-center-empty">
      <image src="https://g3.ytx.com/ylf_mp_2/bg-coupon-center-empty.png" />
      <view>暂无优惠券</view>
    </view>
  </block>
  <!--猜你喜欢-->
  <block wx:if="{{ guessList && guessList.length > 0 }}">
    <view class="guess">
      <view class="guess-header">
        <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-guess-left.png" />
        <view class="guess-header-title">商品推荐</view>
        <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-guess-right.png" />
      </view>
      <view class="guess-body">
        <view class="guess-list">
          <block wx:for="{{ guessList }}" wx:key="index">
            <block wx:if="{{ index % 2 == 0 }}">
              <view class="item-card" catchtap="gotoItem" data-item="{{ item }}">
                <image lazy-load class="item-card-image" mode="aspectFill" src="{{ imageDomain + item.iconImageKey }}?x-oss-process=image/resize,m_lfit,h_345,w_345" />
                <view class="item-title">
                  <text wx:if="{{ item.selfMention == 1 }}" class="self-mention-tip">仅自提</text>
                  <text>{{ item.name }}</text>
                </view>
                <view class="item-subtitle fs26 c9e">{{ item.brief ? item.brief : '' }}</view>
                <view wx:if="{{ item.activitySubtitle }}" class="item-activity">{{ item.activitySubtitle }}</view>
                <view class="item-bottom">
                  <view class="item-price-group">
                    <view class="item-price">
                      <text>￥</text>
                      <text class="item-price-value">{{ numberFilter.numberToFixed(item.saleLowPrice) }}</text>
                    </view>
                    <view wx:if="{{ item.saleLowPrice != item.marketLowPrice }}" class="item-original-price">
                      ¥{{ item.marketLowPrice != item.marketHighPrice ? (numberFilter.numberToFixed(item.marketLowPrice) + '~' + numberFilter.numberToFixed(item.marketHighPrice)) : numberFilter.numberToFixed(item.marketLowPrice) }}
                    </view>
                  </view>
                  <view class="add-cart-group">
                    <image wx:if="{{ item.stockNum }}" lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart.png" catchtap="onItemAddCartTap" data-item-id="{{ item.itemId }}" />
                    <image wx:else lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart-dis.png" />
                    <view wx:if="{{ cartFilter.getCartNum(cartNumData, item.itemId) }}" class="add-cart-num">{{ cartFilter.getCartNum(cartNumData, item.itemId) }}</view>
                  </view>
                </view>
                <view hidden="{{ item.stockNum }}" class="item-tip">今日售完</view>
              </view>
            </block>
          </block>
        </view>
        <view class="guess-list">
          <block wx:for="{{ guessList }}" wx:key="index">
            <block wx:if="{{ index % 2 != 0 }}">
              <view class="item-card" catchtap="gotoItem" data-item="{{ item }}">
                <image lazy-load class="item-card-image" mode="aspectFill" src="{{ imageDomain + item.iconImageKey }}?x-oss-process=image/resize,m_lfit,h_345,w_345" />
                <view class="item-title">
                  <text wx:if="{{ item.selfMention == 1 }}" class="self-mention-tip">仅自提</text>
                  <text>{{ item.name }}</text>
                </view>
                <view class="item-subtitle fs26 c9e">{{ item.brief ? item.brief : '' }}</view>
                <view wx:if="{{ item.activitySubtitle }}" class="item-activity">{{ item.activitySubtitle }}</view>
                <view class="item-bottom">
                  <view class="item-price-group">
                    <view class="item-price">
                      <text>￥</text>
                      <text class="item-price-value">{{ numberFilter.numberToFixed(item.saleLowPrice) }}</text>
                    </view>
                    <view wx:if="{{ item.saleLowPrice != item.marketLowPrice }}" class="item-original-price">
                      ¥{{ item.marketLowPrice != item.marketHighPrice ? (numberFilter.numberToFixed(item.marketLowPrice) + '~' + numberFilter.numberToFixed(item.marketHighPrice)) : numberFilter.numberToFixed(item.marketLowPrice) }}
                    </view>
                  </view>
                  <view class="add-cart-group">
                    <image wx:if="{{ item.stockNum }}" lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart.png" catchtap="onItemAddCartTap" data-item-id="{{ item.itemId }}" />
                    <image wx:else lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart-dis.png" />
                    <view wx:if="{{ cartFilter.getCartNum(cartNumData, item.itemId) }}" class="add-cart-num">{{ cartFilter.getCartNum(cartNumData, item.itemId) }}</view>
                  </view>
                </view>
                <view hidden="{{ item.stockNum }}" class="item-tip">今日售完</view>
              </view>
            </block>
          </block>
        </view>
      </view>
    </view>
  </block>
</view>
<view animation="{{animationY}}" style="position:fixed;top:{{ballY}}px;" hidden="{{!showBall}}">
  <view class="ball" animation="{{animationX}}" style="position:fixed;left:{{ballX}}px;"></view>
</view>