/* pages/user/order/refund/delivery/selectCourier/index.wxss */
.page-select-courier {
  background-color: white;
    min-height: 100vh;
    padding-left: 40rpx;
    padding-right: 40rpx;
}

.list-item {
  border-bottom: 1px solid #EAEAEA;
  padding-top: 30rpx;
  padding-bottom: 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item image {
  width: 32rpx;
  height: 32rpx;
}

.item-title {
  font-size: 30rpx;
color: #222222;
}