<!--pages/login/login.wxml-->
<cu-custom bgColor="navbar" isHome="{{true}}">
  <view slot="backText">首页</view>
  <view slot="content">迎米生活</view>
</cu-custom>
<view wx:if="{{ !isShowCode }}" class="login-container-phone">
  <view class="login-container-phone-title">请输入手机号码</view>
  <view class="login-container-phone-subtitle">欢迎来到迎米生活，开启您的购物体验吧～</view>
  <view class="login-container-phone-input-row">
    <view class='input-row-title'>+86</view>
    <input class='input-row-input' value="{{ mobile }}" placeholder='请输入手机号码' type='number' maxlength='11' bindinput='setMobile'></input>
    <image lazy-load wx:if="{{ mobile }}" class='input-row-clean' src="https://g3.ytx.com/ylf_mp_2/icon-input-clean.png" catchtap="cleanPhone" />
  </view>
  <view class='bindButton' bindtap='getCode'>获取短信验证码</view>
</view>
<view wx:if="{{ mobile && isShowCode }}" class="login-container-code">
  <view class="login-container-code-title">请输入验证码</view>
  <view class="login-container-code-subtitle">已发送6位号码至+86 {{ mobile }}</view>
  <view class="login-container-code-input-row">
    <view class='content'>
      <block wx:for="{{Length}}" wx:key="item">
        <input class='iptbox' value="{{Value.length>=index+1?Value[index]:''}}" disabled password='{{ispassword}}' catchtap='Tap'> </input>
      </block>
    </view>
    <input name="password" password="{{true}}" class='ipt' maxlength="{{Length}}" focus="{{isFocus}}" bindinput="Focus"></input>
  </view>
  <view class="login-container-code-reget" bindtap='getCode'>{{buttonValue}}</view>
  <view class='bindButton' bindtap='bindUser'>绑定</view>
</view>
<view class='model-container' hidden='{{!modelStatus}}'>
  <view class='mask'></view>
  <view class='model-content'>
    <view class='cred-container'>
      <view class='cred-tip-container'>
        <text class='cred-tip'>您已获得新注册用户红包</text>
      </view>
      <view class='cred-price-container'>
        <text class='cred-yuan'>￥</text>
        <text class='cred-price'>10</text>
      </view>
      <view class='cred-botton' bindtap='closeCred'>确定</view>
    </view>
    <view class='cred-close' bindtap='closeCred'>
      <icon class='iconfont icon-jiaoyiguanbi'></icon>
    </view>
  </view>
</view>
<view class="toast-mask" wx:if="{{isShowToast}}">
  <view class="toast-layer">{{toastText}}</view>
</view>