<!--pages/user/invite/bindResult.wxml-->
<wxs module="numberFilter" src="../../../utils/numberFilter.wxs"></wxs>
<wxs module="cartFilter" src="../../../utils/cartFilter.wxs"></wxs>
<view class="page-invite-result">
  <view class="result-card">
    <view class="result-card-text">邀请人绑定成功</view>
  </view>
  <!--猜你喜欢-->
  <block wx:if="{{ guessList && guessList.length > 0 }}">
    <view class="guess">
      <view class="guess-header">
        <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-guess-left.png" />
        <view class="guess-header-title">商品推荐</view>
        <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-guess-right.png" />
      </view>
      <view class="guess-body">
        <view class="guess-list">
          <block wx:for="{{ guessList }}" wx:key="index">
            <block wx:if="{{ index % 2 == 0 }}">
              <view class="item-card" catchtap="gotoItem" data-item="{{ item }}">
                <image lazy-load class="item-card-image" mode="aspectFill" src="{{ imageDomain + item.iconImageKey }}?x-oss-process=image/resize,m_lfit,h_345,w_345" />
                <view class="item-title">
                  <text wx:if="{{ item.selfMention == 1 }}" class="self-mention-tip">仅自提</text>
                  <text>{{ item.name }}</text>
                </view>
                <view class="item-subtitle fs26 c9e">{{ item.brief ? item.brief : '' }}</view>
                <view wx:if="{{ item.activitySubtitle }}" class="item-activity">{{ item.activitySubtitle }}</view>
                <view class="item-bottom">
                  <view class="item-price-group">
                    <view class="item-price">
                      <text>￥</text>
                      <text class="item-price-value">{{ numberFilter.numberToFixed(item.saleLowPrice) }}</text>
                    </view>
                    <view wx:if="{{ item.saleLowPrice != item.marketLowPrice }}" class="item-original-price">
                      ¥{{ item.marketLowPrice != item.marketHighPrice ? (numberFilter.numberToFixed(item.marketLowPrice) + '~' + numberFilter.numberToFixed(item.marketHighPrice)) : numberFilter.numberToFixed(item.marketLowPrice) }}
                    </view>
                  </view>
                  <view class="add-cart-group">
                    <image wx:if="{{ item.stockNum }}" lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart.png" catchtap="onItemAddCartTap" data-item-id="{{ item.itemId }}" />
                    <image wx:else lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart-dis.png" />
                    <view wx:if="{{ cartFilter.getCartNum(cartNumData, item.itemId) }}" class="add-cart-num">{{ cartFilter.getCartNum(cartNumData, item.itemId) }}</view>
                  </view>
                </view>
                <view hidden="{{ item.stockNum }}" class="item-tip">今日售完</view>
              </view>
            </block>
          </block>
        </view>
        <view class="guess-list">
          <block wx:for="{{ guessList }}" wx:key="index">
            <block wx:if="{{ index % 2 != 0 }}">
              <view class="item-card" catchtap="gotoItem" data-item="{{ item }}">
                <image lazy-load class="item-card-image" mode="aspectFill" src="{{ imageDomain + item.iconImageKey }}?x-oss-process=image/resize,m_lfit,h_345,w_345" />
                <view class="item-title">
                  <text wx:if="{{ item.selfMention == 1 }}" class="self-mention-tip">仅自提</text>
                  <text>{{ item.name }}</text>
                </view>
                <view class="item-subtitle fs26 c9e">{{ item.brief ? item.brief : '' }}</view>
                <view wx:if="{{ item.activitySubtitle }}" class="item-activity">{{ item.activitySubtitle }}</view>
                <view class="item-bottom">
                  <view class="item-price-group">
                    <view class="item-price">
                      <text>￥</text>
                      <text class="item-price-value">{{ numberFilter.numberToFixed(item.saleLowPrice) }}</text>
                    </view>
                    <view wx:if="{{ item.saleLowPrice != item.marketLowPrice }}" class="item-original-price">
                      ¥{{ item.marketLowPrice != item.marketHighPrice ? (numberFilter.numberToFixed(item.marketLowPrice) + '~' + numberFilter.numberToFixed(item.marketHighPrice)) : numberFilter.numberToFixed(item.marketLowPrice) }}
                    </view>
                  </view>
                  <view class="add-cart-group">
                    <image wx:if="{{ item.stockNum }}" lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart.png" catchtap="onItemAddCartTap" data-item-id="{{ item.itemId }}" />
                    <image wx:else lazy-load mode="aspectFit" src="https://g3.ytx.com/ylf_mp_2/icon-add-cart-dis.png" />
                    <view wx:if="{{ cartFilter.getCartNum(cartNumData, item.itemId) }}" class="add-cart-num">{{ cartFilter.getCartNum(cartNumData, item.itemId) }}</view>
                  </view>
                </view>
                <view hidden="{{ item.stockNum }}" class="item-tip">今日售完</view>
              </view>
            </block>
          </block>
        </view>
      </view>
    </view>
  </block>
</view>
<view animation="{{animationY}}" style="position:fixed;top:{{ballY}}px;" hidden="{{!showBall}}">
  <view class="ball" animation="{{animationX}}" style="position:fixed;left:{{ballX}}px;"></view>
</view>