<!--pages/user/address/mgtList/index.wxml-->
<view class='page-address-list'>
  <block wx:for="{{ addressList }}" wx:key='id'>
    <view class='list-item'>
      <view class='item-info'>
        <view class='user-info'>
          <view class="user-info-name">{{item.consignee}}</view>
          <view class="user-info-phone">{{item.mobile}}</view>
        </view>
        <view class='address-cont'>
          <view class='address-main'>
            {{ item.province }}{{ item.city }}{{ item.area }}{{ item.town }}{{ item.poiName }}{{ item.doorNumber }}
          </view>
        </view>
      </view>
      <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-addr-edit.png" catchtap="onBtnEditTap" data-item="{{ item }}" class="edit-btn" />
      <image lazy-load src="https://g3.ytx.com/ylf_mp_2/icon-addr-del.png" catchtap="onBtnDelTap" data-item="{{ item }}" class="edit-btn" />
    </view>
  </block>
</view>
<view class="page-address-footer">
  <view class="btn-add" bindtap="onBtnAddTap">添加收货地址</view>
</view>