<!--pages/index/liveroom/index.wxml-->
<view class="page-live">
  <view wx:if="{{ dataList && dataList.length > 0 }}" class="page-live-list">
    <view wx:for="{{ dataList }}" wx:key="index" class="page-live-item" catchtap="onItemTap" data-item="{{ item }}">
      <image class="page-live-item-image" src="{{ imgServer + item.cover }}"/>
      <view>
        <view class="page-live-item-row">
          <view class="page-live-item-time">{{ item.timeText }}</view>
          <image wx:if="{{ item.timeText == '直播中' }}" class="page-live-item-living" src="https://g3.ytx.com/ylf_mp_2/icon-live-item-living.png" />
        </view>
        <view class="page-live-item-title">{{ item.name }}</view>
      </view>
    </view>
  </view>
  <view wx:else class="page-live-empty">
    <image class="page-live-empty-image" src="https://g3.ytx.com/ylf_mp_2/bg-live-empty.png" />
    <view class="page-live-empty-text">当前暂无直播，敬请期待～</view>
  </view>
</view>