/* pages/user/settings/profile/editNickName.wxss */
.form-item {
  margin-top: 20rpx;
  background-color: white;
  border-radius: 20rpx;
  padding: 30rpx 20rpx;
}

.form-item-label {
  color: #27292A;
  font-size: 28rpx;
}

.form-item-sub-label {
  color: #999999;
}

.form-item-row {
  margin: 20rpx;
  background-color: white;
  border-radius: 20rpx;
  padding: 30rpx 20rpx;
  display: flex;
  align-items: center;
}

.form-input {
  font-size: 30rpx;
  font-size: 30rpx;
  margin-left: 20rpx;
  width: 400rpx;
}

.form-textarea {
  background: #F7F7F7;
  border-radius: 20rpx;
  padding: 20rpx;
  margin-top: 10rpx;
  width: 670rpx;
}

.btn-area {
  margin: 30rpx 0;
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.btn-ok {
  background: #00B861;
  border-radius: 46rpx;
  width: 100% !important;
}