<!--pages/user/settings/profile/editNickName.wxml-->
<view class="page-edit-nick">
  <form catchsubmit="formSubmit">
    <view class="form-item-row">
      <view class="form-item-label">昵称:</view>
      <input class="form-input" placeholder="请输入昵称" value="{{ formData.nickName }}" bindinput="bindPhoneInput" />
    </view>
    <view class="btn-area">
      <button type="primary" formType="submit" class="btn-ok">提交</button>
    </view>
  </form>
</view>