/* pages/user/invoice/title/edit.wxss */
/* pages/user/invoice/title/add.wxss */
.page-title-edit {
  min-height: 100vh;
}

.form-card {
  background-color: white;
  margin-top: 30rpx;
}

.form-card-header {
  font-size: 30rpx;
  font-weight: bold;
  color: #333333;
  padding: 30rpx;
  border-bottom: solid 1px #EAEAEA;
}

.form-card-body {
  padding: 20rpx 30rpx;
}

.form-body {
  background-color: white;
  margin-top: 30rpx;
}

.form-item {
  display: flex;
  align-items: center;
  padding: 20rpx 30rpx;
  font-size: 28rpx;
  border-bottom: solid 1px #EAEAEA;
}

.form-item-label {
  width: 120rpx;
  margin-right: 20rpx;
}

.form-item-input {
  width: 500rpx;
}

.form-item .radio {
  margin-left: 30rpx;
}

.form-item .radio:first-child {
  margin-left: 0rpx;
}

.btn-area {
  margin: 30rpx;
  padding-top: 30rpx;
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  width: 300rpx !important;
  border-radius: 6rpx;
  color: #E83224;
  border: 2px solid #F23C23;
}

.btn-ok {
  width: 300rpx !important;
  background: linear-gradient(-46deg, #DC3B23, #DA3C44);
  border-radius: 6rpx;
}

.form-btn-row {
  background-color: white;
}

.btn-fold {
  font-size: 26rpx;
  color: #D63512;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30rpx;
}

.btn-fold image {
  width: 36rpx;
  height: 36rpx;
  margin-right: 10rpx;
}