/* pages/user/address/list/list2.wxss */
@import "../../../../lib/style/font.wxss";

.page-address-list .list-item {
  margin-top: 20rpx;
  padding: 30rpx 20rpx;
  align-items: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-address-list .list-item:only-child {
  border-radius: 20rpx;
}

.page-address-list .list-item:first-child {
  border-top-left-radius: 20rpx;
  border-top-right-radius: 20rpx;
}

.page-address-list .list-item:last-child {
  border-bottom-left-radius: 20rpx;
  border-bottom-right-radius: 20rpx;
}

.page-address-list .list-item-selected {
  width: 36rpx;
  height: 36rpx;
}

.page-address-list .user-info {
  display: flex;
  align-items: center;
}

.user-info-name {
  font-size: 28rpx;
  font-weight: 500;
  color: #27292A;
  width: 200rpx;
}

.user-info-phone {
  font-size: 28rpx;
  color: #999999;
}

.page-address-list .item-info {
  width: 580rpx;
}

/* 原点选择公共样式 */
.page-address-list .selected {
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 40rpx;
}

.page-address-list .icon-weixuanze {
  color: #b2b2b2;
}

.page-address-list .selected.icon-dizhixuanze {
  color: #e62104;
}

.page-address-list .user-info {
  font-size: 30rpx;
}

.page-address-list .address-main {
  font-size: 24rpx;
  color: #27292A;
  line-height: 32rpx;
  padding: 15rpx 0;
  word-break: break-all;
}

.page-address-list .edit-btn {
  width: 32rpx;
  height: 32rpx;
}

.page-address-list .defaultAdd {
  width: 115rpx;
  height: 39rpx;
  border-radius: 6rpx;
  border: 1px solid #e62104;
  color: #e62104;
  text-align: center;
  line-height: 39rpx;
}

.page-address-list {
  padding-bottom: 115rpx;
}



/* pages/user/address/edit/edit.wxss */
.page-address-edit .addInfo {
  background: #fff;
}

.page-address-edit .addInfo input {
  padding: 0 35rpx;
  border-bottom: 1px solid #f1f1f1;
  font-size: 28rpx;
  line-height: 88rpx;
  height: 88rpx;
}

.page-address-edit .addInfo textarea {
  padding: 30rpx 35rpx;
  font-size: 28rpx;
  height: 210rpx;
  line-height: 47rpx;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  word-break: break-all;
  text-align: justify;
}

.page-address-edit .addInfo .citySelect {
  position: relative;
}

.page-address-edit .addInfo .citySelect picker,
.town picker {
  width: 100%;
  z-index: 2;
}

.picker_cont {
  font-size: 28rpx;
  line-height: 88rpx;
}

.page-address-edit .addInfo .picker {
  height: 88rpx;
}

.page-address-edit .place {
  color: #9e9e9e;
}

.page-address-edit button[type="warn"] {
  border-radius: 0;
  font-size: 36rpx;
  background: #e62104;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.page-address-edit .address {
  border-bottom: 1px solid #f1f1f1;
  padding: 0 35rpx;
  display: flex;
}

.page-address-edit .address view {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.page-address-edit .page-address-edit .address view:first-child {
  padding-left: 0;
}

.page-address-edit .address input {
  border: none;
  padding: 0;
}

.page-address-edit .town {
  position: relative;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 35rpx;
}

.placeholder {
  color: #9e9e9e;
}

.page-address-footer {
  width: 100vw;
  height: 140rpx;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn-add {
  width: 710rpx;
  height: 80rpx;
  background: #00B861;
  border-radius: 45rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 80rpx;
  text-align: center;
  margin-top: 30rpx;
}