/* pages/user/invoice/apply/selectTitle.wxss */
.page-select-title {
  min-height: 100vh;
}

.alert {
  display: flex;
  align-items: center;
  padding: 20rpx 30rpx;
  font-size: 28rpx;
  color: #D63512;
  background-color: #F7EDED;
}

.alert image {
  width: 44rpx;
  height: 44rpx;
  margin-right: 10rpx;
}

.title-list {
  background-color: #FFFFFF;
  border-radius: 10rpx;
}

.title-list-header {
  padding: 25rpx 30rpx;
  border-bottom: solid 1px #EAEAEA;
  font-weight: bold;
  color: #333333;
  font-size: 30rpx;
}

.title-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15rpx;
  padding: 10rpx 15rpx;
  border-bottom: solid 1px #EAEAEA;
}

.title-item:last-child {
  border-bottom: none;
}

.title-item-title {
  font-size: 28rpx;
  color: #333333;
}

.title-item-subtitle {
  font-size: 24rpx;
  color: #999999;
  margin-bottom: 10rpx;
}

.title-item-btn-edit {
  padding: 14rpx;
}

.title-item-btn-edit image {
  width: 36rpx;
  height: 36rpx;
}

.title-list-btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30rpx;
  font-size: 30rpx;
  color: #D63512;
  border-top: solid 1px #EAEAEA;
}

.title-list-btn-add image {
  width: 44rpx;
  height: 44rpx;
  margin-right: 10rpx;
}

.title-list-body .selected {
  background: #FFE4E4;
  border: 2px solid #E83224;
}

.page-btn-row {
  margin-top: 60rpx;
}

.btn-ok-big {
  background: linear-gradient(268deg, rgba(221, 52, 34, 0.93), rgba(218, 49, 68, 0.93));
  border-radius: 6rpx;
  width: 560rpx;
  height: 90rpx;
  font-size: 30rpx;
  line-height: 90rpx;
  color: white;
  margin: 30rpx auto;
  text-align: center;
}

.btn-cancel-big {
  font-size: 30rpx;
  color: #D63512;
  width: 560rpx;
  height: 90rpx;
  border: 4rpx solid #E83224;
  border-radius: 6rpx;
  line-height: 90rpx;
  margin: 30rpx auto;
  text-align: center;
}

.mt30 {
  margin-top: 30rpx;
}