<!--pages/components/chatroom/message-item.wxml-->
<view wx:if="{{ item && item.message }}">
  <view class="msg-item" wx:if="{{ item.type != 2 }}">
    <!-- 头像 -->
    <image wx:if="{{ item.avatar }}" src="{{ item.avatar }}" class="item-avatar"/>
    <!-- 名字 -->
    <text class="name">{{ item.name }}：</text>
    <!-- msg -->
    <text class="text">{{ item.message }}</text>
  </view>
  <view wx:else class="msg-item">
    <!-- 名字 -->
    <text class="name notice">{{ item.name }}：</text>
    <!-- msg -->
    <text class="text">{{ item.message }}</text>
  </view>
</view>