<!--pages/user/address/edit/index.wxml-->
<view class="page-addr-edit">
  <form catchsubmit="formSubmit">
    <view class="form-item form-item-first-child" catchtap="onSelectAddrTap">
      <view class="form-item-label">地址</view>
      <input class="form-item-input" placeholder="请选择收货地址" disabled="true"
        value="{{ formData.province }}{{ formData.city }}{{ formData.area }}{{ formData.poiName }}" />
      <view class='down-right'>
        <icon class='iconfont icon-jiantou'></icon>
      </view>
    </view>
    <view class="form-item">
      <view class="form-item-label">门牌号</view>
      <input class="form-item-input" placeholder="例：2号楼202" confirm-type="next" value="{{ formData.doorNumber }}" bindinput="onDoorNumberInput"/>
    </view>
    <view class="form-item">
      <view class="form-item-label">收件人</view>
      <input class="form-item-input" placeholder="收件人姓名" maxlength="15" confirm-type="next" value="{{ formData.consignee }}" bindinput="onConsigneeInput" />
    </view>
    <view class="form-item form-item-last-child">
      <view class="form-item-label">手机号</view>
      <input class="form-item-input" placeholder="收件人手机号" maxlength="11" confirm-type="done" value="{{ formData.phone }}"  bindinput="onPhoneInput"/>
    </view>
    <view wx:if="{{ !formData.id }}" class="btn-area">
      <button class="btn-ok" type="warn" formType="submit">保存地址</button>
    </view>
    <view wx:if="{{ formData.id }}" class="btn-group">
      <button class="btn-del" type="warn" catchtap="onDelTap">删除地址</button>
      <button class="btn-ok" type="warn" formType="submit">保存地址</button>
    </view>
  </form>
</view>