<!--pages/index/invite/index.wxml-->
<view class="page-invite-bind">
  <view class="page-invite-bind-card">
    <view class="card-header">
      <image wx:if="{{ spreadData.inviteUserHeadImg }}" src="{{ imgServer + spreadData.inviteUserHeadImg }}"/>
      <view>{{ spreadData.inviteUserName }}</view>
    </view>
    <view class="card-body">
      <view class="card-body-text">想邀请您成为TA的粉丝～</view>
      <view class="card-row">
        <view class="btn-ok" catchtap="onBtnOkTap">同意</view>
        <view class="btn-cancel" catchtap="onBtnCancelTap">取消</view>
      </view>
    </view>
  </view>
</view>
<view wx:if="{{ isShowDialog }}" class="err-dialog" catchtouchmove="emptyHandler" catchtap="onDialogClose">
  <view class="err-dialog-card">
    <view class="err-dialog-card-title">绑定失败</view>
    <view class="err-dialog-card-msg">{{ errMsg }}</view>
    <view class="err-dialog-card-btn">我知道了</view>
  </view>
</view>